#player-window {
    position: relative;
    width: 100%;
    height: 100%;

    #player {
        position: absolute;
        left: 0;
        top: 0;
    }
}

#chat-window {
    height: 100%;
    overflow-y: scroll;
}